name: firecrawl

x-common-service: &common-service
  build: apps/api
  networks:
    - backend
  environment:
    - REDIS_URL=${REDIS_URL:-redis://redis:6379}
    - REDIS_RATE_LIMIT_URL=${REDIS_URL:-redis://redis:6379}
    - PLAYWRIGHT_MICROSERVICE_URL=${PLAYWRIGHT_MICROSERVICE_URL:-http://playwright-service:3000}
    - PORT=${PORT:-3003}
    - NUM_WORKERS_PER_QUEUE=${NUM_WORKERS_PER_QUEUE}
    - BULL_AUTH_KEY=${BULL_AUTH_KEY}
    - TEST_API_KEY=${TEST_API_KEY}
    - HOST=${HOST:-0.0.0.0}
    - LOGGING_LEVEL=${LOGGING_LEVEL}
    - MAX_RAM=${MAX_RAM:-0.95}
    - MAX_CPU=${MAX_CPU:-0.95}
  extra_hosts:
    - "host.docker.internal:host-gateway"

services:
  puppeteer-service:
    image: trieve/puppeteer-service-ts
    build:
      context: ./apps/puppeteer-service-ts/
      dockerfile: Dockerfile
    environment:
      - PORT=3000
      - PROXY_SERVER=${PROXY_SERVER}
      - PROXY_USERNAME=${PROXY_USERNAME}
      - PROXY_PASSWORD=${PROXY_PASSWORD}
      - TWOCAPTCHA_TOKEN=${TWOCAPTCHA_TOKEN}
      - MAX_CONCURRENCY=${MAX_CONCURRENCY}
    networks:
      - backend

  api:
    image: trieve/firecrawl
    <<: *common-service
    depends_on:
      - redis
      - puppeteer-service
    ports:
      - "3003:3003"
    command: ["pnpm", "run", "start:production"]

  worker:
    <<: *common-service
    depends_on:
      - redis
      - puppeteer-service
      - api
    command: ["pnpm", "run", "workers"]

  searxng:
    image: searxng/searxng:latest
    container_name: searxng
    restart: unless-stopped
    ports:
      - "9005:8080"
    volumes:
      - ./searxng:/etc/searxng:rw
    environment:
      - SEARXNG_BASE_URL=http://localhost:9005/
      - SEARXNG_SECRET=${SEARXNG_SECRET:-$(openssl rand -hex 32)}
      - SEARXNG_PORT=9005
      - SEARXNG_BIND_ADDRESS=0.0.0.0
    networks:
      - backend
    cap_drop:
      - ALL
    cap_add:
      - CHOWN
      - SETGID
      - SETUID
      - DAC_OVERRIDE

  redis:
    image: redis:alpine
    networks:
      - backend
    command: redis-server --bind 0.0.0.0

networks:
  backend:
    driver: bridge
